.ttt_container {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ttt__title {
  font-size: 23px;
  text-transform: uppercase;
  background: #aa66cc;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

.ttt__subttitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.ttt__start-container {
  margin-bottom: 20px;
}

.ttt__actions-container {
  display: flex;
  margin-top: 30px;
}
.ttt__actions-container .ttt_back-button {
  margin-right: 30px;
}

.ttt__button {
  background: #fff;
  color: #aa66cc;
  outline: none;
  border: 1px solid #aa66cc;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 150px;
}
.ttt__button.is-red {
  background: #ff5252;
  color: #fff;
  border: 1px solid #ff5252;
}
.ttt__button.is-green {
  background: #2BBBAD;
  color: #fff;
  border: 1px solid #2BBBAD;
}
.ttt__button.is-on {
  background: #aa66cc;
  border: 1px solid #aa66cc;
  color: #fff;
}
.ttt__button.is-off {
  background: #fff;
  border: 1px solid #aa66cc;
  color: #aa66cc;
}
.ttt__button:hover {
  background: #9933CC;
  border: 1px solid #9933CC;
  color: #fff;
}

.ttt-game__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.ttt-field {
  display: flex;
  justify-content: center;
  border: 5px solid #4B515D;
  width: 31%;
  height: 100px;
}

#field-1,
#field-2,
#field-0 {
  border-top: none;
}

#field-0,
#field-3,
#field-6 {
  border-left: 0;
}

#field-2,
#field-5,
#field-8 {
  border-right: 0;
}

#field-6,
#field-7,
#field-8 {
  border-bottom: 0;
}

.is-x {
  filter: invert(47%) sepia(29%) saturate(5809%) hue-rotate(331deg) brightness(104%) contrast(99%);
}

.is-o {
  filter: invert(56%) sepia(93%) saturate(335%) hue-rotate(125deg) brightness(93%) contrast(89%);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/*# sourceMappingURL=style.css.map */
