.ttt_container {
  background: $ttt-primary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ttt__title {
  font-size: 23px;
  text-transform: uppercase;
  background: $ttt-pink;
  color: $ttt-primary-color;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}
.ttt__subttitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.ttt__start-container {
  margin-bottom: 20px;
}

.ttt__actions-container {
  display: flex;
  margin-top: 30px;
  .ttt_back-button {
    margin-right: 30px;
  }
}

.ttt__button {
  background: $ttt-primary-color;
  color: $ttt-pink;
  outline: none;
  border: 1px solid $ttt-pink;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 150px;
  &.is-red {
    background: $ttt-red;
    color: $ttt-primary-color;
    border: 1px solid $ttt-red;
  }
  &.is-green {
    background: $ttt-green;
    color: $ttt-primary-color;
    border: 1px solid $ttt-green;
  }

  &.is-on {
    background: $ttt-pink;
    border: 1px solid $ttt-pink;
    color: $ttt-primary-color;
  }
  &.is-off {
    background: $ttt-primary-color;
    border: 1px solid $ttt-pink;
    color: $ttt-pink;
  }
  &:hover {
    background: $ttt-pink-darker;
    border: 1px solid $ttt-pink-darker;
    color: $ttt-primary-color;
  }
}

.ttt-game__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.ttt-field {
  display: flex;
  justify-content: center;
  border: 5px solid $ttt-gray;
  width: 31%;
  height: 100px;
}

#field-1,
#field-2,
#field-0 {
  border-top: none;
}

#field-0,
#field-3,
#field-6 {
  border-left: 0;
}

#field-2,
#field-5,
#field-8 {
  border-right: 0;
}

#field-6,
#field-7,
#field-8 {
  border-bottom: 0;
}

.is-x {
  filter: invert(47%) sepia(29%) saturate(5809%) hue-rotate(331deg)
    brightness(104%) contrast(99%);
}
.is-o {
  filter: invert(56%) sepia(93%) saturate(335%) hue-rotate(125deg)
    brightness(93%) contrast(89%);
}
